go 1.25.0

use (
	./internal/adapters
	./internal/adif
	./internal/config
	./internal/database
	./internal/enums
	./internal/errors
	./internal/iocdi
	./internal/logging
	./internal/maidenhead
	./internal/types
	./internal/utils
)
