go 1.25.0

use (
	./internal/adapters
	./internal/adif
	./internal/apikey
	./internal/cat
	./internal/config
	./internal/database
	./internal/email
	./internal/enums
	./internal/errors
	./internal/forwarding
	./internal/iocdi
	./internal/listeners
	./internal/logging
	./internal/lookup
	./internal/maidenhead
	./internal/serial
	./internal/types
	./internal/utils
)
